/1_EnvironmentTest/nbproject/private/
/1_EnvironmentTest/build/
/1_EnvironmentTest/dist/
/2_Comments/nbproject/private/
/2_Comments/build/
/2_Comments/dist/
/3_TypesVarsOperatorsConversion/nbproject/private/
/4_Conditions/nbproject/private/
/5_Loops/nbproject/private/
/6_ArrayListMap/nbproject/private/
/7_Classes/nbproject/private/
/8_Namespaces/nbproject/private/
/9_String/nbproject/private/
/10_ExceptionHandling/nbproject/private/
/11_FileAccess/nbproject/private/
/3_TypesVarsOperatorsConversion/build/
/3_TypesVarsOperatorsConversion/dist/
/4_Conditions/build/
/4_Conditions/dist/
/5_Loops/dist/
/5_Loops/build/
/6_ArrayListMap/dist/
/6_ArrayListMap/build/
/7_Classes/build/
/7_Classes/dist/
/8_Namespaces/build/
/9_String/build/